<a name="iptm">
    <h2>ipTM score</h2>
    <p>The table below lists for each predicted model the interface predicted template modelling score (ipTM, 0-1). Higher values correspond to higher confidence that the interface of a predicted complex is correct.</p>

    <table border = "1">
        {% for iptm, name in iptm_list %}
        {% if loop.index == 1 %}
        <tr>
            <th>Model number</th>
            <th>Overall</th>
        </tr>
        {% endif %}

        <tr id="plddt-table-{{loop.index}}">
            <td>{{name}}</td>
            <td>{{iptm}}</td>
        </tr>
        {% endfor %}
    </table>

