body, h1, h2, h3, h4, h5, h6  {
  font-family: "Segoe UI", Arial, sans-serif;
}

.page {
  width:100%;
  padding: 0px;
  margin: 0px;
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #424242;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: gray;
}


.main {
  margin-left: 10%;
  width: 85%;
  padding: 0px 10px;
  background-color: #ffffff;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


 .tab {
 overflow: hidden;
 border: 1px solid #ccc;
 background-color: #f1f1f1;
 }

 .tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
 }

 .tab button:hover {
 background-color: #ddd;
 }

 .tab button.active {
 background-color: #ccc;
 }

 .tabcontent {
 display: none;
 padding: 6px 12px;
 border: 1px solid #ccc;
 border-top: none;
 }

 table {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
}

th {
    background-color: #424242;
    color: #FFFFFF;
    }

th, td {
      padding: 5px;
}

.mol-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal_close:hover,
.modal_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}