/.idea/
/guifold/.idea/
/build/
/dist/
/webview_test/
/guifold/style.qss
/guifold/utils.py
/guifold/config/guifold.conf
/guifold/templates/submit_script.j2
/pae_examples.ai
/guifold.egg-info/
/screenshots.ai
/run_tests.py
/testing/
guifold/collate_msas.py
guifold/images/GUIFold.gif
