/.idea/
/guifold/.idea/
/build/
/dist/
/webview_test/
/guifold/style.qss
/guifold/utils.py
/guifold/config/guifold.conf
/guifold/templates/submit_script.j2
/pae_examples.ai
/guifold.egg-info/
/screenshots.ai
/run_tests.py
/testing/__pycache__/
guifold/collate_msas.py
guifold/images/GUIFold.gif
guifold/run_fastfold.py
scripts/clean_output.py
alphafold
scripts/
testing/msa_test.png
testing/msa_test2.png
testing/msa_plot.py
testing/mmseqs_test.py
testing/mmseqs_api.py
testing/prepare_fastfold_memory.py
joss/