/.idea/
/guifold/.idea/
/build/
/dist/
/webview_test/
/guifold/style.qss
/guifold/utils.py
/guifold/config/guifold.conf
/guifold/templates/submit_script.j2
/pae_examples.ai
/guifold.egg-info/
/screenshots.ai
/run_tests.py
/testing/
guifold/collate_msas.py
guifold/images/GUIFold.gif
guifold/templates/submit_script_slurm.j2
guifold/run_fastfold.py
scripts/clean_output.py
alphafold
scripts/check_results_pkl.py
scripts/compare_features.py
scripts/minimize.py
scripts/extract_memory.py
scripts/make_dummy_features.py
